* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Lato", sans-serif;
  color: antiquewhite;
  margin: 30px;
}

h1 {
  margin-bottom: 30px;
}

#pokemonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#pokemonContainer div {
  display: flex;
  justify-content: center;
  background-color: #4a4949;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
}

p {
  margin-top: 10px;
}

#search-pokemon {
  margin-bottom: 30px;
}
